.card {
  width: 90%;
  max-width: 550px;
  margin: 3rem auto;
  padding: 10px 5px;
}

.buttonContainer button:nth-child(1) {
  margin-right: 15px;
}

.marginBottom {
  margin-bottom: 20px !important;
}

.marginBottom p {
  bottom: -21px !important;
  position: absolute;
}